<!DOCTYPE html>
<div>
  <div>
    <div>
      <!-- <h2 ng-show="profile.edit.name">{{ profile.nameChange.name }}</h2>
      <input ng-hide="profile.edit.name" ng-model="profile.nameChange.name"/>
      <button
        ng-show="profile.edit.name"
        class="btn"
        ng-click="profile.flipEdit('name')"
      >
        Change Name
      </button>
      <button
        ng-hide="profile.edit.name"
        class="btn btn-primary"
        ng-click="profile.submitEdit('name', profile.nameChange.name)"
      >
        Change Name
      </button> -->
      <namedir
        k="name"
        user="profile.user"
        name="profile.edit"
        name-change="profile.nameChange"
      >
      </namedir>
    </div>
    <div>
      <!-- <h3 ng-show="profile.edit.username">Username: {{ profile.nameChange.username }}</h3>
      <input ng-hide="profile.edit.username" ng-model="profile.nameChange.username"/>
      <button
        ng-show="profile.edit.username"
        class="btn"
        ng-click="profile.flipEdit('username')"
      >
        Change Username
      </button>
      <button
        class="btn btn-primary"
        ng-hide="profile.edit.username"
        ng-click="profile.submitEdit('username', profile.nameChange.username)"
      >
        Change Username
      </button> -->
      <namedir
        k="username"
        user="profile.user"
        name="profile.edit"
        name-change="profile.nameChange"
      >
      </namedir>
    </div>
    <h4>Website:
      <a target="_blank" ng-href="http://{{ profile.user.website }}">
        {{ profile.user.website }}
      </a>
    </h4>
  </div>
  <h3>Posts: </h3>
  <div ng-repeat="post in profile.user.posts">
    <h3
      class="highlightTitle"
      ui-sref="nav.details({
        id: post.id,
        username: profile.user.username,
        userId: post.userId
      })"
    >
    {{ post.title }}
    </h3>
  </div>
</div>
